<footer class="footer">
    <span>Coded by</span>
    <a href="https://github.com/rafetbasturk" rel="noreferrer noopener" target="_blank">Rafet</a>
    <span>-</span>
    <a href="https://www.theodinproject.com/" rel="noreferrer noopener"target="_blank">The Odin Project</a>
  </footer>
</body>

<script>
  const errorsContainer = document.querySelector("ul.error")
  if (errorsContainer) {
    setTimeout(() => {
      errorsContainer.style.animation = "close-modal .3s forwards ease-out"
    }, 3000);
  }
</script>
</html>